<!DOCTYPE html>

<html>
    <head>
        <title>VACCINATION AVAILABILITY</title>
        <link rel="icon" href="/vaccine.png">
        <link rel="stylesheet" href="/style.css" >
   
       
    </head>

    <body>
       <div class="main-content">
                  
                  <h1>COVID VACCINE AVAILABILITY </h1>
                <form>
                    <input id='input1' placeholder="Enter your pincode">
                     <input id='input2' placeholder="Enter date dd-mm-yyyy">
                    <button>Search</button>
                </form>
         <p id="message-1" ></p>
            
          </div>
           <script src="/app.js"></script>
       
        </body>
<footer>BY ADINATH JOSHI</footer>

</html>